<Config>
  <!-- 検索対象 -->
  <Target>
    <FolderPath>D:\work\analysis\sqlserver</FolderPath>
    <ResultFilePath>D:\work\analysis\result.txt</ResultFilePath>
  </Target>
  <Target>
    <FolderPath>D:\work\analysis\sqlserver2</FolderPath>
  </Target>

  <!-- 除外対象のテーブル -->
  <IgnoreTables>
    <Table>TEST</Table>
    <Table>TEST2</Table>
  </IgnoreTables>
  <!-- 出力形式のオプション -->
  <OutputOption>csv</OutputOption>
</Config>
